extends layout

block content
    h1=(undefined===blind ? 'Přidat žaluzie' : blind.name)
    if error !== undefined
        p #{error.errmsg}
    form#contactForm(name='sentMessage' novalidate='' method='POST' action='/blind')
        .row
            .col-lg-4.mx-auto
                .form-group
                    if undefined===blind
                        input#name.form-control(type='text', name='name' placeholder='Název')
                    else
                        input#name.form-control(type='text', name='name' value=(blind.name) readonly='readonly')
                    input#pin.form-control(type='number', name='pin' placeholder='Výstupní pin' value=(undefined===blind ? '' : blind.pin))
                    input#morning.form-control(type='time', name='morning' placeholder='Čas roztažení' value=(undefined===blind ? '' : (('0' + Math.floor(blind.morning/60)).slice(-2)+':'+('0' + (blind.morning%60)).slice(-2))))
                    input#evening.form-control(type='time', name='evening' placeholder='Čas zatažení' value=(undefined===blind ? '' : (('0' + Math.floor(blind.evening/60)).slice(-2)+':'+('0' + (blind.evening%60)).slice(-2))))
                    button.btn.btn-primary.btn-xl.text-uppercase(id='sendMessageButton' type='submit') #{(undefined===blind ? 'Vytvořit' : "Změnit")}