extends layout

block content
    each blind in blinds
        h1( class='post-title')
            a(href=('/blind/'+blind.name)) Žaluzie #{blind.name}
        h2( class='post-title') Pin: #{blind.pin}
        h2( class='post-title') Ráno:
            time  #{(('0' + Math.floor(blind.morning/60)).slice(-2)+':'+('0' + (blind.morning%60)).slice(-2))}
        h2( class='post-title') Večer:
            time  #{(('0' + Math.floor(blind.evening/60)).slice(-2)+':'+('0' + (blind.evening%60)).slice(-2))}
        button.btn.btn-primary.btn-xl.text-uppercase(id='sendMessageButton' onclick="window.location.href='/switch/"+blind.name+"'") #{(blind.position == 1200 ? 'Roztáhnout':'Zatáhnout')}
        if blinds.length === 1
            button.btn.btn-primary.btn-xl.text-uppercase(id='sendMessageButton' onclick="window.location.href='/blind/"+blind.name+"/edit/'") Editovat
            button.btn.btn-primary.btn-xl.text-uppercase(id='sendMessageButton' onclick="window.location.href='/blind/"+blind.name+"/delete/'") Smazat