extends layout

block content
  h2( class='post-title') Ráno:
    time  #{morning}
  h2( class='post-title') Večer:
    time  #{evening}
  form(method='GET' action='/switch')
    button.btn.btn-primary.btn-xl.text-uppercase(id='sendMessageButton' type='submit') #{type}