doctype html
html(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(name='author' content='Marek Elznic')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(href='/favicon.png' rel='icon' type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom fonts for this template
    //link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
    //link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    //link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
        a.navbar-brand.js-scroll-trigger(href='/') Home
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            | Menu
            i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.text-uppercase.ml-auto
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='/blind/new/edit') Přidat žaluzii
// Header
header.masthead
    .container
        .intro-text
            .intro-lead-in Kontrola žaluzií
            //.intro-heading.text-uppercase It&apos;s Nice To Meet You
section#services
    .container
        .row
            .col-lg-12.text-center
                block content
// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
//script(src='vendor/jquery-easing/jquery.easing.min.js')
//script(src='js/jqBootstrapValidation.js')
//sscript(src='js/agency.min.js')
